<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/vue.js"></script>
    <script defer src="js/main.js"></script>
    <link rel="stylesheet" href="./css/main.css">
    <title>ToDo List</title>
</head>
<body>

<div id="todo-container">
    <div class="columns">
        <div class="column">
            <h2 class="t-a-c">Бэклог</h2>
            <label for="cardName"></label>
            <input type="text" v-model="cardName" placeholder="Название карточки" id="cardName">
            <button v-on:click="addCard()">Добавить карточку</button>
            <div v-for="(card, index) in this.firstColumnCards">
                <h2>{{card.name}}</h2>
                <li v-for="(task, taskIndex) in card.tasks" :key="taskIndex">
                    <p v-on:click="completeTask(card, taskIndex)">{{ task.taskName }}</p>
                </li>
                <input type="text" v-model="card.taskName">
                <button v-on:click="addTask(index)">+</button>
            </div>
        </div>
        <div class="column">
            <h2 class="t-a-c">В работе</h2>
        </div>
        <div class="column">
            <h2 class="t-a-c">Готово</h2>
        </div>
    </div>
</div>
</body>
</html>